{% extends 'base.twig' %}

{% block title %} {{ books.author }} {% endblock %}

{% block content %}
	<p><strong>{{ books.author }}</strong></p>
	<table cellspacing="5">
		<tr>
			<th>ID</th>
			<th>Книга</th>
			<th>Издательство</th>
		</tr>
        {% for book in books %}
			<tr>
				<td>{{ book.id }}</td>
				<td><a href="/books/{{ book.id }}">{{ book.name }}</a></td>
				<td><a href="/publishers/{{ book.publisherID }}">{{ book.publisher }}</a></td>
			</tr>
        {% endfor %}
	</table>
{% endblock %}