{% extends 'base.twig' %}

{% block title %} {{ book.name }} {% endblock %}

{% block content %}
    <p>ID: {{ book.id }}</p>
    <p>Название: {{ book.name }}</p>
    <p>Автор: <a href="/authors/{{ book.authorID }}">{{ book.author }}</a></p>
    <p>Издательство: <a href="/publishers/{{ book.publisherID }}">{{ book.publisher }}</a></p>
    <p>ISBN: {{ book.isbn }}</p>
    <p>Страниц: {{ book.pages }}</p>
{% endblock %}