{% extends 'base.twig' %}

{% block title %} {{ books.publisher }} {% endblock %}

{% block content %}
	<p><strong>{{ books.publisher }}</strong></p>
	<table cellspacing="5">
		<tr>
			<th>ID</th>
			<th>Книга</th>
			<th>Автор</th>
		</tr>
        {% for book in books %}
			<tr>
				<td>{{ book.id }}</td>
				<td><a href="/books/{{ book.id }}">{{ book.name }}</a></td>
				<td><a href="/authors/{{ book.authorID }}">{{ book.author }}</a></td>
			</tr>
        {% endfor %}
	</table>
{% endblock %}